FORMAT: 1A
HOST: https://api.clubspire.com

# CLUBSPIRE REST API
<b>CLUBSPIRE REST API </b> provides programmatic access to read Club data, activities, instructors and schedules, 
manage reservations, synchronize users and more. The REST API identifies CLUBSPIRE applications and users 
using <a href="https://oauth.net/2/">OAuth 2.0</a> protocol. Requests and responses use JSON data format. 

For more information on authentication and services follow the subsections: 
+ [Security](#security)
+ [Club information](#club)
+ [My account](#my_account)
+ [Activities](#activities)
+ [Instructors](#instructors)
+ [Schedules](#schedules)
+ [Reservations](#reservations)
+ [Users](#users)
+ [FCM notifications](#fcm_notifications)
+ [Settings](#settings)

## Group Security
<a name="security"></a>
CLUBSPIRE REST API uses <a href="https://oauth.net/2/">OAuth 2.0</a> protocol to provide access to its services. 
We require applications to authenticate all of their requests. 

For more information follow the subsections: 
+ [Authentication & Authorization](#authorization)
+ [Revoke token](#revoke_token)
+ [Revoke all tokens ](#revoke_all_tokens)

### Authentication & Authorization [/oauth/token]
<a name="authorization"></a>
Before any authentication/authorization process your application must be registered in CLUBSPIRE as a trusted client. 
Registration is performed by our CLUBSPIRE technical support who assesses your use case and proposes the best
authorization grant type for you. As a result of successfull registration we provide you with credentials that 
are neccessary for client authentication. Client credentials consist of `client_id` and `client_secret`.

In order to make authorized calls to CLUBSPIRE REST API, your application must first obtain an OAuth access token
on behalf of a CLUBSPIRE user or you could issue application-only authenticated requests when user context is not 
required. The way you will obtain such tokens will depend on your use.

| Use case                                                                                    | For authorization grant use                                 | 
| ------------------------------------------------------------------------------------------- |:-----------------------------------------------------------:| 
|Client application will read and write data on behalf of a CLUBSPIRE user.                   |[User credentials](#user_credential) or [User key](#user_key)| 
|Client application will issue authenticated requests on behalf of the application itself.    |[Client credentials](#client_credentials)                    |  

Once you have an access token you are able to call REST API services. To authorize calls to REST API services just add Authorization header to all of your calls. 
An example of such authorization header for access token `r8t9y5d8-1234-3214-12ab-a1t2re325s5w` would be: 

`Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w`

## Security considerations

Access token credentials (as well as any confidential access token attributes) and access token itself must be kept confidential in transit and storage, and only shared among the CLUBSPIRE server and the client application to whom the access token is issued. These values should be considered as sensitive as passwords and must not be shared or distributed to untrusted parties.

User and client credentials must be kept confidential as well. Client application should not persist credentials data to avoid unintentional disclosure to an attacker.

This manner of authentication is only secure if SSL (TLS) is used. Therefore, all requests (both to obtain and use the tokens) must use HTTPS endpoints, which is also a requirement of using CLUBSPIRE REST API. 

## Token lifecycle

Token goes through several phases during it's life:
+ token is **generated** after successfull authentication of the user/client
+ token is **used** for API calls
+ token is **expired** after some time

Each API call must contain access token so the client application should save and maintain it. Token has a limited lifetime. Although, it can be set to a high number, you should always cover the case of token expiration. If token expires you need to get a new one by repeating authentication/authorization process.

Besides the normal lifecycle there might be a situation when the client application needs to revoke it explicitly. Typically, logging out the user would be such a situation. For this purpose use [Revoke token service](#revoke_token). 

### User credentials
***
<a name="user_credential"></a>
This grant type is suitable for clients capable of obtaining the user's credentials 
(username and password, typically using an interactive form). It is a standard grant type defined 
in <a href="https://tools.ietf.org/html/rfc6749#section-4.3">Resource Owner Password Credentials Grant</a>. In order to obtain access token the client application
must provide the CLUBSPIRE server with user credentials and client credentials. 

<a name="figure1">![Figure1](https://reservation.grandrelax.cz/doc-media/img/auth/password-grant-flow.png "Obtaining access token using User Key grant")</a>

The flow illustrated in [Figure1](#figure1) includes the following steps:
+ The user provides the client with its `username` and `password`.
+ The client requests an access token from the CLUBSPIRE server's token endpoint by including user credentials and client credentials. When making the request, the client authenticates with the CLUBSPIRE server using it's `client_id` and `client_secret`.
+ The CLUBSPIRE server authenticates the client and validates the user credentials, and if valid, issues an access token.

The client makes a request to the token endpoint by adding required parameters using 
the `application/x-www-form-urlencoded` format with a character encoding of UTF-8 in the HTTP
request entity-body.

### User key
***
<a name="user_key"></a>
There might be use cases when the CLUBSPIRE system and your application share user data and you have your own mechanism to authenticate/authorize users. In these cases you probably do not want users to enter their CLUBSPIRE credentials each time they use your application. Instead you want to make authentication transparent to them. For these use cases User key grant type can be used.

This grant type is our custom grant type as extension to standard grant type set. It is based on official <a href="https://tools.ietf.org/html/rfc6749#section-4.3">Resource Owner Password Credentials Grant</a>. The only difference is that you just need `user_key` instead of `username` and `password` for user authentication/authorization.

User key is a special unique identificator of the user generated by the CLUBSPIRE system and shared with your application. Its only purpose is to authenticate users. It must be kept confidential as everyone who knows the key could impersonate the user. Please note that this grant type will be enabled only for applications that we consider trusted. 

<a name="figure2">![Figure2](https://reservation.grandrelax.cz/doc-media/img/auth/user-key-grant-flow.png "Obtaining access token using User Key grant")</a>

The flow illustrated in [Figure 2](#figure2) includes the following steps:
+ The client requests an access token from the CLUBSPIRE server's token endpoint by including `user_key` and client credentials. When making the request, the client authenticates with the CLUBSPIRE server using it's `client_id` and `client_secret`.
+ The CLUBSPIRE server authenticates the client and validates the `user_key`, and if valid, issues an access token.

The client makes a request to the token endpoint by adding required parameters using the `application/x-www-form-urlencoded` format with a character encoding of UTF-8 in the HTTP request entity-body. 

###Client credentials
*** 
<a name="client_credentials"></a>
This grant type is suitable for clients that will use CLUBSPIRE REST API on behalf of the application itself. It is a standard grant type defined in <a href="https://tools.ietf.org/html/rfc6749#section-4.4">Client Credentials Grant</a>. In order to obtain access token the client application must provide the CLUBSPIRE server with client credentials. When issuing requests using application-only auth, there is no concept of a "current user". It also means that such clients will not be allowed to call services which require user context to process requests. 

<a name="figure3">![Figure3](https://reservation.grandrelax.cz/doc-media/img/auth/client-credentials-grant-flow.png "Obtaining access token using Client credentials")</a>
The flow illustrated in [Figure 3](#figure3) includes the following steps:
+ The client authenticates with the CLUBSPIRE server using it's `client_id` and `client_secret` and requests an access token from the token endpoint.
+ The CLUBSPIRE server authenticates the client, and if valid, issues an access token.

The client makes a request to the token endpoint by adding required parameters using the `application/x-www-form-urlencoded` format with a character encoding of UTF-8 in the HTTP request entity-body. 

#### Authentication & Authorization [POST]

+ Request User credentials (application/x-www-form-urlencoded)

    + Attributes (User credentials authorization)
    
    + Body 

            grant_type=password&client_id=grandrelax&client_secret=grandrelax&username=clubspireapi&password=clubspireapi
    
+ Response 200 (application/json;charset=UTF-8)

    + Attributes (object)
        + access_token (string) - Access token generated by CLUBSPIRE authorization server.
        + token_type (string) - Type of the generated token. Always set to `bearer`.
        + refresh_token (string) - Token that can be used for getting new access token in case of expiration without providing user and client credentials again. 
        + expires_in (number) - The lifetime in seconds of the access token. For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated.
        + scope (string) - Identical to the scope requested by the client.

    + Body
          
            {
                "access_token": "e97b9c05-a04d-492b-b7e4-d16298e00877",
                "token_type": "bearer",
                "expires_in": 43199,
                "scope": "write"
            }
            
+ Response 400 (application/json)

        {
            "error": "invalid_grant",
            "error_description": "Cannot log in user."
        }

+ Request User key grant (application/x-www-form-urlencoded)
    + Attributes (User key grant authorization)
    
    + Body 

            grant_type=user_key&client_id=my_app&client_secret=some_secret&scope=write&user_key=re3f10a7c0a59874018f1d7ea59d6ax6
    
    
+ Response 200 (application/json)

    + Attributes (object)
        + access_token (string) - Access token generated by CLUBSPIRE authorization server.
        + token_type (string) - Type of the generated token. Always set to `bearer`.
        + refresh_token (string) - Token that can be used for getting new access token in case of expiration without providing user and client credentials again. 
        + expires_in (number) - The lifetime in seconds of the access token. For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated.
        + scope (string) - Identical to the scope requested by the client.

    + Body
          
            {
                "access_token": "e97b9c05-a04d-492b-b7e4-d16298e00877",
                "token_type": "bearer",
                "expires_in": 43199,
                "scope": "write"
            }

+ Request Client credentials (application/x-www-form-urlencoded)
    + Attributes (Client credentials authorization)
    
    + Body 

            grant_type=client_credentials&client_id=my_app&client_secret=some_secret&scope=write


+ Response 200 (application/json)
    + Attributes (object)
        + access_token (string) - Access token generated by CLUBSPIRE authorization server.
        + token_type (string) - Type of the generated token. Always set to `bearer`.
        + refresh_token (string) - Token that can be used for getting new access token in case of expiration without providing user and client credentials again.
        + expires_in (number) - The lifetime in seconds of the access token. For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated.
        + scope (string) - Identical to the scope requested by the client.

    + Body
  
            {
                "access_token": "e97b9c05-a04d-492b-b7e4-d16298e00877",
                "token_type": "bearer",
                "expires_in": 43199,
                "scope": "write"
            }

### Revoke token [/api/1.0/users/me/tokens/{accessToken}]
<a name="revoke_token"></a>
Revokes given **access token**. Authenticated user must be the person to whom the token has been issued. Otherwise revocation is declined and error message is returned to the caller. For complete list of mesage codes and their meanings see [Response messages](#response_messages1). Token that has been revoked cannot be used for making authorized calls to CLUBSPIRE REST API. 

+ Parameters 
    + accessToken (required, string, `d6ae7565-475e-49dc-9d0c-eba844a3e5f2`)...Access token of authenticated user that should be revoked.

#### Revoke token [DELETE]

<a name="response_messages1"></a>
#### Response messages

| Code                      | Type        | Description                                                                                           |
|:--------------------------|:------------|:------------------------------------------------------------------------------------------------------|
|`success.token.revoked`    | INFO        | Returned if access token was revoked successfully.                                                    |
|`error.token.cannotRevoke` | ERROR_FATAL | Returned if access token cannot be revoked. The reason can be determined from `verboseMessage` field. |

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Body
    
            {
            "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": "success.token.revoked",
                "clientMessage": "Your token was revoked successfully.",
                "verboseMessage": null,
                "docUri": null
            },
            "data": null
            }

### Revoke all tokens [/api/1.0/users/me/tokens]
<a name="revoke_all_tokens"></a>
Revokes all **access tokens** of authenticated user. If revocation is declined then error message is returned to the caller. For complete list of mesage codes and their meanings see [Response messages](#response_messages2). Token that has been revoked cannot be used for making authorized calls to CLUBSPIRE REST API. 

#### Revoke token [DELETE]

<a name="response_messages2"></a>
#### Response messages

| Code                       | Type        | Description                                                                                                                  |
|:---------------------------|:------------|:-----------------------------------------------------------------------------------------------------------------------------|
|`success.tokens.revoked`    | INFO        | Returned if all access tokens of authenticated user were revoked successfully.                                               |
|`error.tokens.cannotRevoke` | ERROR_FATAL | Returned if access tokens of authenticated user cannot be revoked. The reason can be determined from `verboseMessage` field. |

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
    
+ Response 200 (application/json)

    + Body

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": "success.tokens.revoked",
                    "clientMessage": "All your tokens were revoked successfully.",
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": null
            }
## Group Using API
This section provides overal information about using CLUBSPIRE REST API. 

## Versioning
Services of CLUBSPIRE REST API use **major** and **minor** numbers for versioning. Major number is incremented when significant changes are made since the previous release. Therefore, releases with different major versions, e.g. 1.5 and 2.1, are not backward compatible. On the other side, minor number is incremented when less significant changes are introduced. Releases with same major versions and different minor versions are backward compatible. An identificator denoting version is included in every resource path, except for authentication/authorization endpoints. 

Example of resource path including version identifier

`https://reservation.grandrelax.cz/api/1.0/activities`

## Request/Response formats

When communicating with CLUBSPIRE REST API client application sends requests and recieves responses using JSON data format for payload. In order to normalize returned data and provide extensible features like error messages and additional meta-data we define a scheme for all API responses. 

Each API response payload contains a single entity which encapsulate all returned data. We call it [Response](#response) entity. 

## Response data pagination

<a name="responsePagination"></a> In some cases retrieving the whole result set, which can contain thousands of records, from the service could have huge performance drawbacks. For these situations we provide possibility to retrieve results in so called **pages** or batches. We implemented standard approach by using `limit` and `offset` parameters. Moreover, we provide prepared URLs for getting next or previous page of results. The whole response is encapsuleted into [ResponsePaginated](#responsePaginated) base data type.

Currently only small subset of CLUBSPIRE REST API services supports data pagination functionality. Services that support it have this fact explicitly stated in documentiation. 

## JSON serialization/deserialization

<a name="serialization"></a>During serialization of data into JSON all attributes are written out regardless of `null` values. Deserialization uses `null` values for all attributes that are not explicitly sent by the client application. However, in some cases there might be non-null default values that would be used if attributes were missing.

Special care should be taken for `Date` values. Currently, we provides two modes for serializing/deserializing dates:
+ timestamp - all dates are serialized/deserialized as UNIX timestamp (number of milliseconds from the start of Epoch in UTC), e.g. `1435918874000`
+ ISO-8601 - all dates are serialized/deserialized as Strings using pattern yyyy-MM-dd'T'HH:mm:ss.SSSZ, based on ISO 8601 standard, e.g. `2015-07-03T10:21:14+02:00`

Default mode is ISO-8601, but it can be customized for the club.

## HTTP status codes

CLUBSPIRE REST API always responses with HTTP status code **200 OK**. The reason is to provide more control and detailed information for clients at application level. The real status code is included in the response payload data and can be retrieved from **message** attribute of **Response** entity along with additional information. 

## Localization

Data returned by the CLUBSPIRE REST API can be localized to desired locale. Default locale is **cs_CZ** and can be customized for the club. If you wish to obtain data for different locale just add **lang** request parameter to your request. Currently we support these locales:
+ cs_CZ
+ sk_SK
+ en_GB
+ hu_HU

## Example of request with locale parameter 

```GET https://reservation.grandrelax.cz/api/1.0/activities?lang=sk_SK HTTP/1.1
Host: https://reservation.grandrelax.cz
Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
Content-Type: application/json```

# Group Data types
This section provides definition of general data model along with detailed information about specific data types used in responses. 

## General data model

This section provides definition of general data model used for data in responses.

Every response sent from CLUBSPIRE REST API service has JSON formatted payload of type [Response](#response). All response data are encapsulated by Response. Each Response contains a message with HTTP status code and other detailed information and list of [DataItems](#dataItem) representing requested data. DataItem is an abstract type extended by request specific types, for example Activity, Instructor, etc. Each item contains a MetaInfo data and other attributes specific for request.

In case of paginated response data the whole response is encapsuleted into [ResponsePaginated](#responsePaginated) base data type. It is a special type inherrited from [Response](#response) providing extra information for getting and working with paginated data. 

![Figure4](https://reservation.grandrelax.cz/doc-media/img/data-model.png "Data model class diagram")

<a name="response"></a> 
### Response attributes
|Name           |Type                        |Base |Description|
|:------------- |:---------------------------|:----|:----------|
|`message`      |[Message](#message)         |yes  |Message with detailed information included by the CLUBSPIRE system. Never `null`.|
|`data`         |List\<[DataItem](#dataItem)>|yes  |List of result data that has been requested by the client. Can be `null` or empty.

<a name="message"></a> 
### Message attributes
|Name            |Type        |Base |Description|
|:-------------- |:-----------|:----|:----------|
|`httpStatus`    |int         |yes  |HTTP status code of the response. As all API services responses with HTTP status code `200 OK` this attribute represents the real status code..|
|`type`          |String/enum |yes  |Type of response message. Value is one of: |
|                |            |     |INFO - returned for successfull calls
|                |            |     |WARINING - returned for successfull calls with system reporting some warn about the result
|                |            |     |ERROR_RECOVERABLE - returned for unsuccessfull calls, client can recover from an error by asking the user to provide different arguments for service call
|                |            |     |ERROR_FATAL - returned for unsuccessfull calls, client cannot recover from an error
|`code`          |String      |yes  |Unique identifier of the message.|
|`clientMessage` |String      |yes  |Localized body of the message that should be displayed to the user.|
|`verboseMessage`|String      |yes  |Detailed message in English that can be used for debug purposes.|
|`docUri`        |String/url  |yes  |URL of the documentation page with detailed information about the message. Can be `null`.|

<a name="dataItem"></a> 
### DataItem attributes
|Name           |Type                        |Base |Description|
|:------------- |:---------------------------|:----|:----------|
|`metaInfo`     |[MetaInfo](#metaInfo)       |yes  |Meta-data that are enclosed the data item. Can be `null`.|

<a name="metaInfo"></a> 
### MetaInfo attributes
|Name           |Type                        |Base |Description|
|:------------- |:---------------------------|:----|:----------|
|`href`         |String/url                  |yes  |URL path to get resource that this MetaInfo is assigned to. Can be `null`.
|`mediaType`    |String                      |yes  |Type of the resource that this MetaInfo is assigned to. Always set to `application/json`.

<a name="ResponsePaginated attributes"></a> 
### MetaInfo attributes
|Name              |Type      |Base |Description|
|:---------------- |:---------|:----|:----------|
|`offset`          |int       |yes  |URL path to get resource that this MetaInfo is assigned to. Can be `null`.
|`limit`           |int       |yes  |Type of the resource that this MetaInfo is assigned to. Always set to `application/json`.
|`previousPageHref`|String/url|yes  |URL for getting previous page of results. Can be `null` if this response represents the first page of results.
|`nextPageHref    `|String/url|yes  |URL for getting next page of results. Can be `null` if this response represents the last page of results.

# Group Club
<a name="club"></a>
The club is an organization that uses CLUBSPIRE system. 
This section documents all services providing information about the club and defined by the club.

For more information on services follow the subsections: 
+ [Contact](#contact)
+ [Logo](#logo)
+ [FAQ](#faq)
+ [News story detail ](#news_story_detail)
+ [Latest news](#latest_news)
+ [All news](#all_news)
+ [Terms and Conditions](#terms_and_conditions)

## Contact [/api/1.0/contact]
<a name="contact"></a>
### Get contact information [GET]
Returns contact information of the club.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w

+ Response 200 (application/json)

    + Attributes (object)
        + name (string) - Name of the club.   
        + email (string) - Email address to contact the club.
        + phone (string) - Phone number to contact the club.
        + web (string) - URL of the club web presentation.
        + facebookProfileUrl (string) - URL of the club Facebook page.
        + facebookTitle (string) - Title to display for the Facebook link.
        + street (string) - Street of the club address.
        + city (string) - City of the club address.
        + zip (string) - Zip code of the club address.
        + mapHref (string) - URL for the map with club location.
        + bankAccount (string) - Bank account of the club.
        + ic (string) - IC of the club.
        + dic (string) - DIC of the club.
        + logoHref (string) - Location of the club logo. URL can directly be used for getting the photo. See [club logo](#logo) for more information.
  
    + Body

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": null,
                        "name": "My Fitness",
                        "email": "myfitness@somewhere.com",
                        "phone": "111 222 333",
                        "web": "www.myftiness.com",
                        "facebookProfileUrl": "",
                        "facebookTitle": "",
                        "street": " Street 60/40",
                        "city": "City",
                        "zip": "323 00",
                        "mapHref": "https://maps.google.com/maps?q=Street+60/40,+323+00+City&hl=cs&zoom=14&output=embed",
                        "bankAccount": "",
                        "ic": "123345677",
                        "dic": "CZ1234556",
                        "logoHref": "https://reservation.grandrelax.cz/api/1.0/logo"
                    }
                ]
            }
        
## Logo [/api/1.0/logo{?width,height}]
<a name="logo"></a>

+ Parameters 
    + width (optional, int, `150`)...Desired logo width in pixels. Clubspire resizes the picture proportionally, by keeping the aspect ratio.
    + height (optional, int, `300` )...Desired logo height in pixels. Clubspire resizes the picture proportionally, by keeping the aspect ratio.

### Get club logo [GET]
Returns logo of the club. Real image data is returned, usually 
in jpeg format. Additional request attributes can be used to retrieve
the image with specific width and height.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w

+ Response 200 (image/png)

## FAQ [/api/1.0/faq]
<a name="faq"></a>

### Get FAQ [GET]
Returns FAQ information defined by the club.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w

+ Response 200 (application/json)

    + Attributes (object)
        + html (boolean) - Determines whether this text item represents a HTML formatted text or plain text. Value `true` is used for HTML formatted text. 
        + content (string) - Full FAQ content defined by the club. Could be formatted as HTML.

    + Body 
       
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": null,
                        "html": true,
                        "content": "<h2>\n      How to become a fitness star?\n    </h2>\n    <div>\n      Practice makes perfect.\n    </div>\n    <h2>\n      Where to start?\n    </h2>\n    <div>\n      From the beginning.\n    </div>"
                    }
                ]
            }

## News story detail [/api/1.0/news/{id}]
<a name="news_story_detail"></a>

+ Parameters 
    + id (required, String,`000001`)...Unique identifier of the desired news story.

### Get news story detail [GET]
Returns detailed information about news story of given **id**.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (News story detail)
    
    + Body
        
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/actualities/000001",
                            "mediaType": "application/json"
                        },
                        "id": "000001",
                        "publishedDate": "2015-06-01T13:05:33.628+0200",
                        "title": "New REST API released!",
                        "lead": "<div>\n      <b>Finally!</b>\n    </div>\n    <div>\n      We just released the very first version of REST API for CLUBSPIRE.<b>\n</b>    </div>",
                        "body": "<div>\n      <b>Finally!</b>\n    </div>\n    <div>\n      We just released the very first version of REST API for CLUBSPIRE.<b>\n</b>    </div>"
                    }
                ]
            }

## All news [/api/1.0/news{?limit,offset}]
<a name="all_news"></a>

+ Parameters 
    + limit (optional, int,   `50`)...If a limit count is given, no more than that many results will be returned (but possibly less, if there is less results). Default value of 10 will be used when limit is omitted.
    + offset (optional, int, `10` )...Offset says to skip that many results before beginning to return results. Default value of 0 will be used when offset is omitted.

### Get all news [GET]
Returns [paginated collection](#responsePagination) of all news published by the club. News are ordered by **publishedDate** descending. 

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w

+ Response 200 (application/json)

    + Attributes (object)
        + `-` (array[News story detail]) - List of all news that were or will be published. Each news story has only these attributes loaded: id, publishedDate, title and lead. For detailed information (including body) use [GET news/{id}](#news_story_detail) service.
        + offset (number) - Current offset that was used to create paginated response.
        + limit (number) - Current limit that was used to create paginated response.
        + previousPageHref (string) -  URL for getting previous page of results. Can be `null` if this response represents the first page of results.
        + nextPageHref (string) - URL for getting next page of results. Can be `null` if this response represents the last page of results.

    + Body
    
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/actualities/000002",
                            "mediaType": "application/json"
                        },
                        "id": "000002",
                        "publishedDate": "2015-06-02T13:08:08.292+0200",
                        "title": "Everyone use it",
                        "lead": "All developers use our new API :)",
                        "body": null
                    },
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/actualities/000001",
                            "mediaType": "application/json"
                        },
                        "id": "000001",
                        "publishedDate": "2015-06-01T13:05:33.628+0200",
                        "title": "New REST API released!",
                        "lead": "<div>\n      <b>Finally!</b>\n    </div>\n    <div>\n      We just released the very first version of REST API for CLUBSPIRE.<b>\n</b>    </div>",
                        "body": null
                    }
                ],
                "offset": 0,
                "limit": 10,
                "previousPageHref": null,
                "nextPageHref": null
            }

## Latest news [/api/1.0/news/latest]
<a name="latest_news"></a>

### Get latest news [GET]
Returns collection of latest news published by the club. The maximum number of returned news is configured by the club. 
News are ordered by **publishedDate** descending. 

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w

+ Response 200 (application/json)

    + Attributes (object) 
        + data (array[News story detail]) - List of the latest news that were or will be published. Each news story has only these attributes loaded: id, publishedDate, title and lead. For detailed information (including body) use [GET news/{id}](#news_story_detail) service.

    + Body
    
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/actualities/000002",
                            "mediaType": "application/json"
                        },
                        "id": "000002",
                        "publishedDate": "2015-06-02T13:08:08.292+0200",
                        "title": "Everyone use it",
                        "lead": "All developers use our new API :)",
                        "body": null
                    },
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/actualities/000001",
                            "mediaType": "application/json"
                        },
                        "id": "000001",
                        "publishedDate": "2015-06-01T13:05:33.628+0200",
                        "title": "New REST API released!",
                        "lead": "<div>\n      <b>Finally!</b>\n    </div>\n    <div>\n      We just released the very first version of REST API for CLUBSPIRE.<b>\n</b>    </div>",
                        "body": null
                    }
                ]
            }
            
+ Response 201 (application/json)

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": []
            }
        
## Terms and Conditions [/api/1.0/terms]
<a name="terms_and_conditions"></a>

### Get terms [GET]
Returns Terms and Conditions information defined by the club.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w

+ Response 200 (application/json)

    + Attributes (object) 
        + html (boolean) - Determines whether this text item represents a HTML formatted text or plain text. Value true is used for HTML formatted text.
        + content (string) - Full content of Terms and Conditions defined by the club. Could be formatted as HTML.

    + Body

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": null,
                        "html": true,
                        "content": "<h2 align=\"center\">\n      PROVOZNÍ ŘÁD  </h2>\n    <div align=\"center\">Zákazník je povinen dodržovat provozní řád SC, dbát pokynů \n      obsluhujícího personálu, trenérú a instruktorů a chovat se ohleduplně k \n      ostatním zákazníkům. <div>"
                    }
                ]
            }
            
# Group My account
<a name="my_account"></a>
Customers can buy credit that can be used for paying for their reservations.
This credit is called **deposit**. Deposit is always positive (or 0) and 
can have limited (or unlimited) validity. When deposit expires it 
forfeits on behalf of the club. The club can enable deposit restriction 
on reservation creation. It means that customer cannot make new reservation
unless he has enough deposit for paying it.

Customers can buy **season tickets** that can also be used for paying for 
their reservations. Reservation price can be expressed in money or impulses. Each season ticket has some initial impulse balance. These impulses can be used for payments. The club can enable season ticket restriction on reservation creation. It means that customer cannot make new reservation unless he has enough impulses for paying it. 

This section documents all services providing information about account of authenticated user. For more information follow the subsections:
+ [My deposit](#my_deposit)
+ [My deposit history](#my_deposit_history)
+ [My season tickets](#my_season_tickets)
+ [My season tickets history](#my_season_tickets_history)
+ [Season ticket detail](#season_ticket_detail)
+ [My memberships](#my_memberships)
+ [My memberships history](#my_memberships_history)

## My deposit [/api/1.0/accounts/my/deposit]
<a name="my_deposit"></a>
### Get my deposit [GET]
Returns a detailed information about deposit of authenticated user.
    
+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (object) 
        + amount (number) - Current deposit balance. Part or all of this amount can be blocked by the system as cash advance for paying future reservations. Therefore, actual available amount is `amount - blockingFeeAmount`.
        + validTo (string) - Date till which the deposit is valid. See [JSON date serialization](#serialization) for detailed information about date formats.
        + blockingFeeAmount (number) -  If blocking fees module is enabled this amount represents total sum of all future reservations prices. The system blocks this amount from customer's deposit in order to assure that there is always enough balance to pay for all future reservations. Past reservations (paid and unpaid) are ignored. If blocking fees module is disabled the amount equals 0.
        + currencyCode (string) - Currency code for the deposit returned.
    
    + Body
    
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": null,
                        "amount": 13566,
                        "validTo": "2016-02-11T23:59:59.999+0100",
                        "blockingFeeAmount": 0,
                        "currencyCode": "CZK"
                    }
                ]
            }
        
## My deposit history [/api/1.0/accounts/my/deposit/history]
<a name="my_deposit_history"></a>

### Get my deposit history [GET]
Returns a detailed information about history of deposit flow of authenticated user.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (Deposit history)  

    + Body
 
            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": null,
                  "type": 1,
                  "time": "2016-12-07T19:00:34.069+0100",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 255
                  }
                },
                {
                  "metaInfo": null,
                  "type": 1,
                  "time": "2016-12-07T19:00:33.974+0100",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 255
                  }
                },
                {
                  "metaInfo": null,
                  "type": 1,
                  "time": "2016-12-07T19:00:33.887+0100",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 85
                  }
                },
                {
                  "metaInfo": null,
                  "type": 1,
                  "time": "2016-12-07T19:00:33.170+0100",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 255
                  }
                },
                {
                  "metaInfo": null,
                  "type": 1,
                  "time": "2016-12-06T21:00:16.704+0100",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 43
                  }
                },
                {
                  "metaInfo": null,
                  "type": 1,
                  "time": "2016-12-02T09:06:19.951+0100",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 43
                  }
                }
              ]
            }
        
## My memberhips [/api/1.0/accounts/my/customer-groups]
<a name="my_memberships"></a>
### Get my memberships [GET]
Returns a detailed information about membership of authenticated user.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (Membership) 
    
    + Body

            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": null,
                  "id": "4879948dc0a8020200a1fc5de47a9685",
                  "title": "Splatkove clenstvi",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 40
                  },
                  "validFrom": "2016-11-21T00:00:00.000+0100",
                  "validTo": "2017-11-20T23:59:59.999+0100",
                  "expireHighlight": false,
                  "repaymentType": "měsíčně",
                  "shared": false,
                  "repayments": [
                    {
                      "id": "870ef991c0a8020200b49c326f8a86bf",
                      "number": 1,
                      "periodFrom": "2016-11-21T00:00:00.000+0100",
                      "periodTo": "2016-12-20T23:59:59.999+0100",
                      "dueDate": "2016-11-21T23:59:59.999+0100",
                      "paidDate": "2016-11-21T14:24:15.401+0100",
                      "amount": 40
                    },
                    {
                      "id": "870ef992c0a8020201b2f132658ebc7b",
                      "number": 2,
                      "periodFrom": "2016-12-21T00:00:00.000+0100",
                      "periodTo": "2017-01-20T23:59:59.999+0100",
                      "dueDate": "2016-12-15T23:59:59.999+0100",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef993c0a80202012b58920550d5a1",
                      "number": 3,
                      "periodFrom": "2017-01-21T00:00:00.000+0100",
                      "periodTo": "2017-02-20T23:59:59.999+0100",
                      "dueDate": "2017-01-15T23:59:59.999+0100",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef994c0a80202003bb96d4907d728",
                      "number": 4,
                      "periodFrom": "2017-02-21T00:00:00.000+0100",
                      "periodTo": "2017-03-20T23:59:59.999+0100",
                      "dueDate": "2017-02-15T23:59:59.999+0100",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef995c0a802020172e902393e14dc",
                      "number": 5,
                      "periodFrom": "2017-03-21T00:00:00.000+0100",
                      "periodTo": "2017-04-20T23:59:59.999+0200",
                      "dueDate": "2017-03-15T23:59:59.999+0100",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef996c0a802020170190a736e5663",
                      "number": 6,
                      "periodFrom": "2017-04-21T00:00:00.000+0200",
                      "periodTo": "2017-05-20T23:59:59.999+0200",
                      "dueDate": "2017-04-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef997c0a8020200676fc81a705256",
                      "number": 7,
                      "periodFrom": "2017-05-21T00:00:00.000+0200",
                      "periodTo": "2017-06-20T23:59:59.999+0200",
                      "dueDate": "2017-05-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef998c0a8020200a80916a43befca",
                      "number": 8,
                      "periodFrom": "2017-06-21T00:00:00.000+0200",
                      "periodTo": "2017-07-20T23:59:59.999+0200",
                      "dueDate": "2017-06-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef999c0a80202014c5b4f243d5bf8",
                      "number": 9,
                      "periodFrom": "2017-07-21T00:00:00.000+0200",
                      "periodTo": "2017-08-20T23:59:59.999+0200",
                      "dueDate": "2017-07-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef99ac0a802020186f60cbee3d724",
                      "number": 10,
                      "periodFrom": "2017-08-21T00:00:00.000+0200",
                      "periodTo": "2017-09-20T23:59:59.999+0200",
                      "dueDate": "2017-08-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef9a3c0a80202019592d56cdd6c5b",
                      "number": 11,
                      "periodFrom": "2017-09-21T00:00:00.000+0200",
                      "periodTo": "2017-10-20T23:59:59.999+0200",
                      "dueDate": "2017-09-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    },
                    {
                      "id": "870ef9a4c0a802020075a27e2354528b",
                      "number": 12,
                      "periodFrom": "2017-10-21T00:00:00.000+0200",
                      "periodTo": "2017-11-20T23:59:59.999+0100",
                      "dueDate": "2017-10-15T23:59:59.999+0200",
                      "paidDate": null,
                      "amount": 40
                    }
                  ]
                }
              ]
            }

## My memberships history [/api/1.0/accounts/my/customer-groups/history]
<a name="my_memberships_history"></a>
### Get my memberships history [GET]
Returns a detailed information about history of memberships of authenticated user.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (Membership) 

    + Body
    
            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": null,
                  "id": "92a43434c0a84632009124e976232919",
                  "title": "Kino Klub",
                  "price": {
                    "currencyCode": "CZK",
                    "price": 200
                  },
                  "validFrom": "2015-11-14T00:00:00.000+0100",
                  "validTo": "2016-11-13T23:59:59.999+0100",
                  "expireHighlight": false,
                  "repaymentType": null,
                  "shared": false,
                  "repayments": null
                }
              ]
            }

## My season tickets [/api/1.0/accounts/my/season-tickets]
<a name="my_season_tickets"></a>
### Get my season tickets [GET]
Season tickets are sold in so called packages. A package can contain several season 
tickets. For example, package 'Fitness' contains 2 season tickets: '10 entrances' 
and '5 energy drinks'.

The service returns collection of all valid season ticket packages of authenticated user.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (My season ticket) 
    
    + Body
    
            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": null,
                  "name": "20 vstupů Bazén",
                  "paidDate": "2016-11-21T14:23:48.155+0100",
                  "expireSoon": false,
                  "shared": false,
                  "price": {
                    "currencyCode": "CZK",
                    "price": 1600
                  },
                  "seasonTickets": [
                    {
                      "metaInfo": {
                        "href": "https://api.clubspire.com/api/1.0/accounts/my/season-tickets/870e8f5ec0a80202019399ca42c96205",
                        "mediaType": "application/json"
                      },
                      "id": "870e8f5ec0a80202019399ca42c96205",
                      "name": "20 vstupů Bazén",
                      "paidDate": "2016-11-21T14:23:48.155+0100",
                      "validFrom": "2016-11-21T00:00:00.000+0100",
                      "validTo": "2017-11-20T23:59:59.999+0100",
                      "impulsesInitial": 20,
                      "impulsesActual": 20,
                      "impulsesLimit": null,
                      "impulsesLimitPeriod": null,
                      "sportNames": [
                        "Bazén So,Ne,Sv. ",
                        "Bazén Po-Pá 6:00-8:30",
                        "Bazén Po-Pá 13:00-22:00"
                      ],
                      "productNames": null,
                      "shared": false,
                      "expireSoon": false
                    }
                  ]
                }
              ]
            }
        
## My season tickets history [/api/1.0/accounts/my/season-tickets/history]
<a name="my_season_tickets_history"></a>
### Get my season tickets [GET]
Returns a detailed information about history of season ticket packages of authenticated user.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (My season ticket) 

    + Body
    
            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": null,
                  "name": "20 vstupů Bazén",
                  "paidDate": "2016-10-21T13:18:39.407+0200",
                  "expireSoon": false,
                  "shared": false,
                  "price": {
                    "currencyCode": "CZK",
                    "price": 1600
                  },
                  "seasonTickets": [
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/accounts/my/season-tickets/e6f6d885c0a80202015cf047a3b366f0",
                        "mediaType": "application/json"
                      },
                      "id": "e6f6d885c0a80202015cf047a3b366f0",
                      "name": "20 vstupů Bazén",
                      "paidDate": "2016-10-21T13:18:39.407+0200",
                      "validFrom": "2016-10-21T00:00:00.000+0200",
                      "validTo": "2016-11-01T23:59:59.999+0100",
                      "impulsesInitial": 1,
                      "impulsesActual": 1,
                      "impulsesLimit": null,
                      "impulsesLimitPeriod": null,
                      "sportNames": [
                        "!!!! Kangoo robic",
                        "!!! AKCE Klasická masáž (19.- 22.11)"
                      ],
                      "productNames": null,
                      "historyItems": null,
                      "shared": false,
                      "expireSoon": false
                    }
                  ]
                }
              ]
             }
        
## Season ticket detail [/api/1.0/accounts/my/season-tickets/{id}]
<a name="season_ticket_detail"></a>
+ Parameters 
    + id (required, string, `870e8f5ec0a80202019399ca42c96205`)...Unique identifier of the desired season ticket.

### Get season ticket detail [GET]
Returns detailed information about season ticket of given **id**. Authenticated user must be the owner or co-owner of the season ticket. 

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (Season ticket detail)
    
    + Body

            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": {
                    "href": "https://api.clubspire.com/api/1.0/accounts/my/season-tickets/870e8f5ec0a80202019399ca42c96205",
                    "mediaType": "application/json"
                  },
                  "id": "870e8f5ec0a80202019399ca42c96205",
                  "name": "20 vstupů Bazén",
                  "paidDate": "2016-11-21T14:23:48.155+0100",
                  "validFrom": "2016-11-21T00:00:00.000+0100",
                  "validTo": "2017-11-20T23:59:59.999+0100",
                  "impulsesInitial": 20,
                  "impulsesActual": 20,
                  "impulsesLimit": null,
                  "impulsesLimitPeriod": null,
                  "sportNames": [
                    "Bazén So,Ne,Sv. ",
                    "Bazén Po-Pá 6:00-8:30",
                    "Bazén Po-Pá 13:00-22:00"
                  ],
                  "productNames": null,
                  "shared": false,
                  "expireSoon": false,
                  "historyItems": []
                }
              ]
            }
 
# Group Activities
<a name="activities"></a>
The club can provide many procedures and sports to its customers. Sports/procedures of
the same type are grouped into activities.

For example, consider two sports called **'Tennis morning'** and **'Tennis afternoon'.** Both sports represent the same activity **'Tennis'**, but each one might be defined with different price policy, restrictions and other settings. Grouping into activities makes schedules more compact and simplifies filtering.

There are two types of activities that can be booked online: 
    
+ [WEEK activities](#week_activities) - scheduled for fixed time in timetable.
+ [DAY activities](#day_activities) - scheduled typically for whole day in timetable.

For more information on services follow the subsections: 
+ [All activities](#all_activities)
+ [Day activities](#day_activities)
+ [Week activities](#week_activities)
+ [Favourite activities](#favourite_activities)
+ [Activity detail](#activity_detail)

## All activities [/api/1.0/activities]
<a name="all_activities"></a>
### Get all activities [GET]
Returns a collection of all activities that can be booked online.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (object) 
        + `-` (array[Activity]) - List of all activities that can be booked online. Each activity has only base attributes initialized, i.e. no associated entities are loaded. For detailed information (including all associated entities like instructors etc.) use [GET activities/{id}](#activity_detail) service.    

    + Body
    
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/activities/6398c8a2ac1303f0006d7ba72188198f",
                            "mediaType": "application/json"
                        },
                        "id": "6398c8a2ac1303f0006d7ba72188198f",
                        "name": "Squash",
                        "description": "",
                        "icon": {
                            "metaInfo": {
                                "href": "https://reservation.grandrelax.cz/media/images/pictograms/c_01_b.png",
                                "mediaType": "application/json"
                            },
                            "id": "c_01",
                            "nameBlack": "c_01_b.png",
                            "nameGrey": "c_01_w.png",
                            "nameWhite": "c_01_g.png"
                        },
                        "instructors": null,
                        "timeLineType": "TIME_LINE_DAY",
                        "tabIndex": 0
                    },
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/activities/639b1d5cac1303f00011cd38b40e36c0",
                            "mediaType": "application/json"
                        },
                        "id": "639b1d5cac1303f00011cd38b40e36c0",
                        "name": "Flexibar",
                        "description": "",
                        "icon": {
                            "metaInfo": {
                                "href": "https://reservation.grandrelax.cz/media/images/pictograms/a_36_b.png",
                                "mediaType": "application/json"
                            },
                            "id": "a_36",
                            "nameBlack": "a_36_b.png",
                            "nameGrey": "a_36_w.png",
                            "nameWhite": "a_36_g.png"
                        },
                        "instructors": null,
                        "timeLineType": "TIME_LINE_WEEK",
                        "tabIndex": 1
                    }
                ]
            }
        
## Day activities [/api/1.0/activities/day]
<a name="day_activities"></a>
### Get day activities [GET]
Returns a collection of all **day** activities that can be booked online. Day activities are typically scheduled for whole day. It is up to customer to choose starting time and length of the reservation.

Example of day activities: bowling, tennis, squash, badminton etc. 

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (object) 
        + `-` (array[Activity]) - List of all **day** activities that can be booked online. Each activity has only base attributes initialized, i.e. no associated entities are loaded. For detailed information (including all associated entities like instructors etc.) use [GET activities/{id}](#activity_detail) service.    

    + Body
    
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/activities/6398c8a2ac1303f0006d7ba72188198f",
                            "mediaType": "application/json"
                        },
                        "id": "6398c8a2ac1303f0006d7ba72188198f",
                        "name": "Squash",
                        "description": "",
                        "icon": {
                            "metaInfo": {
                                "href": "https://reservation.grandrelax.cz/media/images/pictograms/c_01_b.png",
                                "mediaType": "application/json"
                            },
                            "id": "c_01",
                            "nameBlack": "c_01_b.png",
                            "nameGrey": "c_01_w.png",
                            "nameWhite": "c_01_g.png"
                        },
                        "instructors": null,
                        "timeLineType": "TIME_LINE_DAY",
                        "tabIndex": 0
                    }
                ]
            }

## Week activities [/api/1.0/activities/week]
<a name="week_activities"></a>
### Get week activities [GET]
Returns a collection of all **week** activities that can be booked online. Week activities are scheduled for fixed time in timetable. Thus customers can only choose the number of persons when creating a reservation.

Example of week activities: pilates, yoga, spinning, TRX etc. 

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (object) 
        + `-` (array[Activity]) - List of all **week** activities that can be booked online. Each activity has only base attributes initialized, i.e. no associated entities are loaded. For detailed information (including all associated entities like instructors etc.) use **GET activities/{id}** service.    

    + Body
        
                {
                  "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                  },
                  "data": [
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/4846690fc0a84632012691108afbe9f5",
                        "mediaType": "application/json"
                      },
                      "id": "4846690fc0a84632012691108afbe9f5",
                      "name": "Aerobic a tanec",
                      "description": "<div>\n      Seznam &#269;innost&#237;, kter&#233; pat&#345;&#237; do t&#233;to aktivity:\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      Kangoo robik\n    </div>\n    <div>\n      Hula Hop\n    </div>\n    <div>\n      Aquaerobic\n    </div>\n    <div>\n      Port de Bras\n    </div>\n    <div>\n      P-class\n    </div>\n    <div>\n      Body Ball\n    </div>\n    <div>\n      Zumba\n    </div>\n    <div>\n      Street Dance\n    </div>",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/a_03_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "a_03",
                        "nameBlack": "a_03_b.png",
                        "nameGrey": "a_03_w.png",
                        "nameWhite": "a_03_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 0
                    },
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/4848f94ec0a8463200cf37c86dcd5d2d",
                        "mediaType": "application/json"
                      },
                      "id": "4848f94ec0a8463200cf37c86dcd5d2d",
                      "name": "Posilovací cvičení",
                      "description": "<div>\n      Seznam &#269;innost&#237;, kter&#233; pat&#345;&#237; do t&#233;to aktivity:\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      Body Styling\n    </div>\n    <div>\n      Funk&#269;n&#237; tr&#233;nink\n    </div>\n    <div>\n      Kruhov&#253; tr&#233;n&#237;nk\n    </div>\n    <div>\n      Pilates Cardio slim\n    </div>\n    <div>\n      Piloxing\n    </div>",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/a_05_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "a_05",
                        "nameBlack": "a_05_b.png",
                        "nameGrey": "a_05_w.png",
                        "nameWhite": "a_05_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 0
                    },
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/0b610421c0a8006700191397ed7d3ac4",
                        "mediaType": "application/json"
                      },
                      "id": "0b610421c0a8006700191397ed7d3ac4",
                      "name": "Jóga",
                      "description": "",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/a_04_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "a_04",
                        "nameBlack": "a_04_b.png",
                        "nameGrey": "a_04_w.png",
                        "nameWhite": "a_04_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 0
                    },
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/86d5c751c0a8006701c9045133fe1b81",
                        "mediaType": "application/json"
                      },
                      "id": "86d5c751c0a8006701c9045133fe1b81",
                      "name": "Cvičení",
                      "description": "",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/a_08_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "a_08",
                        "nameBlack": "a_08_b.png",
                        "nameGrey": "a_08_w.png",
                        "nameWhite": "a_08_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 0
                    },
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/484a69d5c0a846320158f640deeb3bf4",
                        "mediaType": "application/json"
                      },
                      "id": "484a69d5c0a846320158f640deeb3bf4",
                      "name": "Cvičení pro rodiče",
                      "description": "<div>\n      Seznam &#269;innost&#237;, kter&#233; pat&#345;&#237; do t&#233;to aktivity:\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      Fyzi&#269;ka i po porodu\n    </div>\n    <div>\n      T&#283;hotensk&#233; cvi&#269;en&#237;\n    </div>\n    <div>\n      Pilates po porodu\n    </div>\n    <div>\n      Cvi&#269;en&#237; d&#283;t&#237; s rodi&#269;i\n    </div>",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/a_37_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "a_37",
                        "nameBlack": "a_37_b.png",
                        "nameGrey": "a_37_w.png",
                        "nameWhite": "a_37_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 0
                    },
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/71c8ad7bc0a846320073186673e8469d",
                        "mediaType": "application/json"
                      },
                      "id": "71c8ad7bc0a846320073186673e8469d",
                      "name": "Cvičení dětí bez rodičů (2,5 - 4 roky)",
                      "description": "",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/a_02_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "a_02",
                        "nameBlack": "a_02_b.png",
                        "nameGrey": "a_02_w.png",
                        "nameWhite": "a_02_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 0
                    },
                    {
                      "metaInfo": {
                        "href": "https://192.168.0.242:58443/api/1.0/activities/77965f817f000001018195812b9f3333",
                        "mediaType": "application/json"
                      },
                      "id": "77965f817f000001018195812b9f3333",
                      "name": "Bazén",
                      "description": "",
                      "icon": {
                        "metaInfo": {
                          "href": "https://192.168.0.242:58443/media/images/pictograms/b_10_b.png",
                          "mediaType": "application/json"
                        },
                        "id": "b_10",
                        "nameBlack": "b_10_b.png",
                        "nameGrey": "b_10_w.png",
                        "nameWhite": "b_10_g.png"
                      },
                      "instructors": null,
                      "timeLineType": "TIME_LINE_WEEK",
                      "tabIndex": 4
                    }
                  ]
                }
                
## Favourite activities [/api/1.0/activities/favourite]
<a name="favourite_activities"></a>
### Get favourite activities [GET]
Returns a list of customer`s favourite activites primarily order 
by a frequency how often the activity is used when reservation is made and
secondary by last change of record.

A record of your favorite activity will be created every time you 
create a reservation for that activity. Also, when reservation for the activity 
is canceled, the activity's popularity will be reduced, or if the reservation 
for the activity is canceled frequenty, the activity can be completely removed 
from the list.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (object) 
        + `-` (array[Activity]) - List of favourite activities. Each activity has only base attributes initialized, i.e. no associated entities are loaded. For detailed information (including all associated entities like instructors etc.) use [GET activities/{id}](#activity_detail) service.    

    + Body
    
            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/activities/6398c8a2ac1303f0006d7ba72188198f",
                            "mediaType": "application/json"
                        },
                        "id": "6398c8a2ac1303f0006d7ba72188198f",
                        "name": "Squash",
                        "description": "",
                        "icon": {
                            "metaInfo": {
                                "href": "https://reservation.grandrelax.cz/media/images/pictograms/c_01_b.png",
                                "mediaType": "application/json"
                            },
                            "id": "c_01",
                            "nameBlack": "c_01_b.png",
                            "nameGrey": "c_01_w.png",
                            "nameWhite": "c_01_g.png"
                        },
                        "instructors": null,
                        "timeLineType": "TIME_LINE_DAY",
                        "tabIndex": 0
                    },
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/activities/639b1d5cac1303f00011cd38b40e36c0",
                            "mediaType": "application/json"
                        },
                        "id": "639b1d5cac1303f00011cd38b40e36c0",
                        "name": "Flexibar",
                        "description": "",
                        "icon": {
                            "metaInfo": {
                                "href": "https://reservation.grandrelax.cz/media/images/pictograms/a_36_b.png",
                                "mediaType": "application/json"
                            },
                            "id": "a_36",
                            "nameBlack": "a_36_b.png",
                            "nameGrey": "a_36_w.png",
                            "nameWhite": "a_36_g.png"
                        },
                        "instructors": null,
                        "timeLineType": "TIME_LINE_WEEK",
                        "tabIndex": 1
                    }
                ]
            }                
            
## Activity detail [/api/1.0/activities/{id}]
<a name="activity_detail"></a>
    
+ Parameters 
    + id (required, string, `639dc75bac1303f001cd7b6d7468c6ed`)...Unique identifier of the desired activity.

### Get activity detail [GET]
Returns detailed information about activity of given **id**.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (Activity) 
    
    + Body

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/activities/639dc75bac1303f001cd7b6d7468c6ed",
                            "mediaType": "application/json"
                        },
                        "id": "639dc75bac1303f001cd7b6d7468c6ed",
                        "name": "H.E.A.T.",
                        "description": "",
                        "icon": {
                            "metaInfo": {
                                "href": "https://reservation.grandrelax.cz/media/images/pictograms/b_01_b.png",
                                "mediaType": "application/json"
                            },
                            "id": "b_01",
                            "nameBlack": "b_01_b.png",
                            "nameGrey": "b_01_w.png",
                            "nameWhite": "b_01_g.png"
                        },
                        "instructors": [
                            {
                                "metaInfo": {
                                    "href": "https://reservation.grandrelax.cz/api/1.0/instructors/63a4bf80ac1303f001009cb225295e24",
                                    "mediaType": "application/json"
                                },
                                "id": "63a4bf80ac1303f001009cb225295e24",
                                "firstName": "Nikol",
                                "lastName": "Filipová",
                                "email": null,
                                "phoneNumber": null,
                                "info": null,
                                "colorRgbHex": null,
                                "photoHref": null,
                                "activities": null
                            },
                            {
                                "metaInfo": {
                                    "href": "https://reservation.grandrelax.cz/api/1.0/instructors/63a39755ac1303f00027eb135e3c9731",
                                    "mediaType": "application/json"
                                },
                                "id": "63a39755ac1303f00027eb135e3c9731",
                                "firstName": "Jarka",
                                "lastName": "Hrušková",
                                "email": null,
                                "phoneNumber": null,
                                "info": null,
                                "colorRgbHex": null,
                                "photoHref": null,
                                "activities": null
                            }
                        ],
                        "timeLineType": "TIME_LINE_WEEK",
                        "tabIndex": 3
                    }
                ]
            }

# Group Instructors
<a name="instructors"></a>
Instructors are trainers assigned to each activity. Multiplicity of relationship between Instructor and Activity is M:N. Therefore, one instructor can teach several different activities.

Not every instructor has to be assigned to some activity and vice versa. However, there is special instructor with **id=-1** that is used as a replacement for **'no instructor'**. 

For more information on services follow the subsections:
+ [All instructors](#all_instructors)
+ [Instructor detail](#instructor_detail)
+ [Instructor photo](#instructor_photo)

## All instructors [/api/1.0/instructors]
<a name="all_instructors"></a>

### Get all instructors [GET]
Returns a collection of all instructors who teach activities that can be booked online.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes (object)
        + `-` (array[Instructor]) - List of all instructors who teach activities that can be booked online. Each instructor has only base attributes loaded. I.e. no associated entities and photo are loaded. For detailed information (including photo URL and all associated entities like activities etc.) use [GET instructors/{id}](#instructor_detail) service.

    + Body

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/instructors/63a194abac1303f0012bd8989a131fa2",
                            "mediaType": "application/json"
                        },
                        "id": "63a194abac1303f0012bd8989a131fa2",
                        "firstName": "Kája",
                        "lastName": "Nová",
                        "email": "kajnov@somewhere.com",
                        "phoneNumber": "",
                        "info": "<div>\n      <b>- Jak byste se popsali 5-ti slovy:</b>\n    </div>\n    <div>\n      Jsem jakÃ¡ jsem...N?kdy blÃ¡zen, jindy normÃ¡lnÃ­.. :D\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Co cvi?Ã­te, a jak jste se dostali ke cvi?enÃ­:</b>\n    </div>\n    <div>\n      Od mali?ka jsem byla nucena k tenisu, od kterÃ©ho jsem na?t?stÃ­ utekla ke \n      konÃ­m :) Ke cvi?enÃ­ jako takovÃ©mu jsem p?i?ichla a? s p?Ã­chodem na \n      KalikovÃ¡k, jako recep?nÃ­. Za?ala jsem nav?t?vovat H.E.A.T. a Power \n      Plate, jako jeden z klient?. Cvi?enÃ­ m? natolik pohltilo, ?e jsem \n      postupn? p?e?la na "druhÃ½ b?eh" :) RÃ¡da se ale vracÃ­m i do pozice \n      klienta a nechÃ¡vÃ¡m se u nÃ¡s "mu?it" :D\n    </div>\n    <div>\n      Cvi?Ã­m H.E.A.T., Power Plate, Flexibar, PlochÃ© b?icho, Cvi?enÃ­ pro \n      t?hotnÃ© a Cvi?enÃ­ pro Seniory,...\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Va?e zÃ¡jmy mimo "KalikovÃ¡k" :) :</b> Okruh \n      rodiny a p?Ã¡tel, kon?, pes, cvi?enÃ­, vÃ½lety, smÃ­ch a dobrÃ© jÃ­dlo\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- NejoblÃ­ben?j?Ã­ jÃ­dlo:</b> Bylo by sna??Ã­ \n      ?Ã­ct neoblÃ­benÃ© jÃ­dlo :D Ale mezi ta nej pat?Ã­ ur?it? ?Ã­zek s ka?Ã­, \n      svÃ­?kovÃ¡ (ob?as), maso a te? samoz?ejm? i n?jakÃ© salÃ¡ty :)\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Bez ?eho se v ?ivot? neobejdete:</b> Ur?it? se \n      nechci obejÃ­t bez "Va?e zÃ¡jmy mimo KalikovÃ¡k" :)\n    </div>",
                        "colorRgbHex": "9999ff",
                        "photoHref": null,
                        "activities": null
                    },
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/instructors/63a40845ac1303f0006c7a9575a60bd5",
                            "mediaType": "application/json"
                        },
                        "id": "63a40845ac1303f0006c7a9575a60bd5",
                        "firstName": "Maru",
                        "lastName": "Palová",
                        "email": "",
                        "phoneNumber": "",
                        "info": "<div>\n      <b>- Jak byste se popsali 5-ti slovy:</b>\n    </div>\n    <div>\n      StÃ¡le sm?vavÃ¡, ob?as hlu?nÃ¡ Mary\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Co cvi?Ã­te, a jak jste se dostali ke cvi?enÃ­:</b>\n    </div>\n    <div>\n      P?es rodi?e-maminku (modernÃ­ gymnastika-aktivnÃ­ sportovec i trenÃ©r v \n      oddÃ­lu TJ SLAVOJ PLZE?)\n    </div>\n    <div>\n      PowerjÃ³ga, PowerPlate, Zumba, Port de Bras\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>-</b> <b>Va?e zÃ¡jmy mimo "KalikovÃ¡k" :) :</b>\n    </div>\n    <div>\n      SpÃ¡nek, kultura v?eho druhu :), kÃ¡vi?ky, cvi?enÃ­ s d?tmi, angli?tina\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- NejoblÃ­ben?j?Ã­ jÃ­dlo</b>:\n    </div>\n    <div>\n      Pizza, ?pagety Bolognese, ?Ã­ze?ek, rajskÃ¡ od babi?ky :)\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Bez ?eho se v ?ivot? neobejdete:</b>\n    </div>\n    <div>\n      KamarÃ¡d?, rodiny, dobrÃ©ho jÃ­dla a pitÃ­, cvi?enÃ­ :)\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      \n    </div>\n    <div>\n      \n    </div>\n    <div>\n      \n    </div>",
                        "colorRgbHex": "0000ff",
                        "photoHref": null,
                        "activities": null
                    }
                ]
            }
        
## Instructor detail [/api/1.0/instructors/{id}]
<a name="instructor_detail"></a>
+ Parameters 
    + id (required, string, `63a194abac1303f0012bd8989a131fa2`)...Unique identifier of the desired instructor.

### Get instructor detail [GET]
Returns a detailed information about instructor of given **id**.   

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
+ Response 200 (application/json)

    + Attributes(Instructor)
    
    + Body

            {
                "message": {
                    "httpStatus": 200,
                    "type": "INFO",
                    "code": null,
                    "clientMessage": null,
                    "verboseMessage": null,
                    "docUri": null
                },
                "data": [
                    {
                        "metaInfo": {
                            "href": "https://reservation.grandrelax.cz/api/1.0/instructors/63a194abac1303f0012bd8989a131fa2",
                            "mediaType": "application/json"
                        },
                        "id": "63a194abac1303f0012bd8989a131fa2",
                        "firstName": "Kája",
                        "lastName": "Nová",
                        "email": "kajnov@somewhere.com",
                        "phoneNumber": "",
                        "info": "<div>\n      <b>- Jak byste se popsali 5-ti slovy:</b>\n    </div>\n    <div>\n      Jsem jakÃ¡ jsem...N?kdy blÃ¡zen, jindy normÃ¡lnÃ­.. :D\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Co cvi?Ã­te, a jak jste se dostali ke cvi?enÃ­:</b>\n    </div>\n    <div>\n      Od mali?ka jsem byla nucena k tenisu, od kterÃ©ho jsem na?t?stÃ­ utekla ke \n      konÃ­m :) Ke cvi?enÃ­ jako takovÃ©mu jsem p?i?ichla a? s p?Ã­chodem na \n      KalikovÃ¡k, jako recep?nÃ­. Za?ala jsem nav?t?vovat H.E.A.T. a Power \n      Plate, jako jeden z klient?. Cvi?enÃ­ m? natolik pohltilo, ?e jsem \n      postupn? p?e?la na "druhÃ½ b?eh" :) RÃ¡da se ale vracÃ­m i do pozice \n      klienta a nechÃ¡vÃ¡m se u nÃ¡s "mu?it" :D\n    </div>\n    <div>\n      Cvi?Ã­m H.E.A.T., Power Plate, Flexibar, PlochÃ© b?icho, Cvi?enÃ­ pro \n      t?hotnÃ© a Cvi?enÃ­ pro Seniory,...\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Va?e zÃ¡jmy mimo "KalikovÃ¡k" :) :</b> Okruh \n      rodiny a p?Ã¡tel, kon?, pes, cvi?enÃ­, vÃ½lety, smÃ­ch a dobrÃ© jÃ­dlo\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- NejoblÃ­ben?j?Ã­ jÃ­dlo:</b> Bylo by sna??Ã­ \n      ?Ã­ct neoblÃ­benÃ© jÃ­dlo :D Ale mezi ta nej pat?Ã­ ur?it? ?Ã­zek s ka?Ã­, \n      svÃ­?kovÃ¡ (ob?as), maso a te? samoz?ejm? i n?jakÃ© salÃ¡ty :)\n    </div>\n    <div>\n      \n    </div>\n    <div>\n      <b>- Bez ?eho se v ?ivot? neobejdete:</b> Ur?it? se \n      nechci obejÃ­t bez "Va?e zÃ¡jmy mimo KalikovÃ¡k" :)\n    </div>",
                        "colorRgbHex": "9999ff",
                        "photoHref": "https://reservation.grandrelax.cz/api/1.0/instructors/63a194abac1303f0012bd8989a131fa2/photo",
                        "activities": [
                            {
                                "metaInfo": {
                                    "href": "https://reservation.grandrelax.cz/api/1.0/activities/639b1d5cac1303f00011cd38b40e36c0",
                                    "mediaType": "application/json"
                                },
                                "id": "639b1d5cac1303f00011cd38b40e36c0",
                                "name": "Flexibar",
                                "description": "",
                                "icon": {
                                    "metaInfo": {
                                        "href": "https://reservation.grandrelax.cz/media/images/pictograms/a_36_b.png",
                                        "mediaType": "application/json"
                                    },
                                    "id": "a_36",
                                    "nameBlack": "a_36_b.png",
                                    "nameGrey": "a_36_w.png",
                                    "nameWhite": "a_36_g.png"
                                },
                                "instructors": null,
                                "timeLineType": "TIME_LINE_WEEK",
                                "tabIndex": 1
                            },
                            {
                                "metaInfo": {
                                    "href": "https://reservation.grandrelax.cz/api/1.0/activities/639dc75bac1303f001cd7b6d7468c6ed",
                                    "mediaType": "application/json"
                                },
                                "id": "639dc75bac1303f001cd7b6d7468c6ed",
                                "name": "H.E.A.T.",
                                "description": "",
                                "icon": {
                                    "metaInfo": {
                                        "href": "https://reservation.grandrelax.cz/media/images/pictograms/b_01_b.png",
                                        "mediaType": "application/json"
                                    },
                                    "id": "b_01",
                                    "nameBlack": "b_01_b.png",
                                    "nameGrey": "b_01_w.png",
                                    "nameWhite": "b_01_g.png"
                                },
                                "instructors": null,
                                "timeLineType": "TIME_LINE_WEEK",
                                "tabIndex": 3
                            }
                        ]
                    }
                ]
            }
            
## Instructor photo [/api/1.0/instructors/{id}/photo{?width,height}]

+ Parameters 
    + id (required, string, `63a194abac1303f0012bd8989a131fa2`)...Unique identifier of the instructor whose photo should be returned.
    + width (optional, int, `150`)...Desired photo width in pixels. Clubspire resizes the picture proportionally, by keeping the aspect ratio.
    + height (optional, int, `300`)...Desired photo height in pixels. Clubspire resizes the picture proportionally, by keeping the aspect ratio.

### Get photo of instructor [GET]

Returns photo of instructor of given **id**. Real image data is returned, usually in jpeg format. Additional request attributes can be used to retrieve the image with specific width and height.

Default (phantom) picture is returned in case the instructor has no photo set.

+ Request (application/json)
    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
            
+ Response 200 (image) 
            
#Group Schedules
<a name="schedules"></a>
Schedules (or timetables) are the main source of data neccessary for creating 
reservations. Schedule provides information about possible lessons, their times, 
capacities, prices and other useful data. As mentioned in [Activities](#activities) section, 
there are two types of activities, [week activities](#week_activities) and [day activities](#day_activities). Schedule 
for each type has its own representation called `week timeline` and `day timeline`.

Schedules are defined as time slots/intervals, with specific start and end time,
on objects containing several sports. Reservations can only be created for these 
slots and sports. One object can have multiple time slots defined. There are data 
structures called **tabs** that let the club group objects (even from distinct areals) 
together. Tabs are top-level parts of schedules. 

For more information on services follow the subsections: 
+ [Week timeline](#week_timeline)
+ [Day timeline](#day_timeline)

## Week timeline [/api/1.0/timeline/week{?date,activityId,instructorId,full}]
<a name="week_timeline"></a>

+ Parameters 
    + date (optional, string, `2016-12-07`)...Date of the day in week to return schedule for. If parameter is omitted schedule for the current week is returned. See [JSON date serialization](#serialization) for detailed information about date formats.
    + activityId (optional, string, `4848f94ec0a8463200cf37c86dcd5d2d`)...Sets the filter to activity of given id. By default, schedule for all activities is returned. If the filter is set to activity only schedule for given activity is returned. In addition, the filter can be set to `full=true`. In this case schedule for all activities is returned and all sports whose activity differs from the provided one have attribute `matchesFilter` set to `false`.
    + instructorId (optional, string, `null`)...Sets the filter to instructor of given id. By default, schedule for all activities, regardless of their instructors, is returned. If the filter is set to instructor only schedule for activities that are taught by given instructor is returned. In addition, the filter can be set to `full=true`. In this case schedule for all activities is returned and all sports that are tought by instructor who differs from the provided one have attribute `matchesFilter` set to `false`.
    + full(optional, boolean, `false`)...By default, the service returns only schedule for rest of the week (without past days) with results filtered according to given `activityId` and `instructorId`. Value true can be used to retrieve schedule for the whole week including past days and filtered data. Sports that do not match the filter are included in the result and their attribute `matchesFilter` is set to `false`.

### Get week time line [GET]

Week timeline represents schedule for the whole week. It contains only sports of week activities as defined in [Week activities](#week_activities)
section.

This service returns data encapsulating schedule for selected week. By default, it returns schedule of all week activities 
for the rest of the current week. However, there is an option to return schedule for the whole week, including past days,
or to filter the schedule by activity and instructor. Moreover, it is possible to retrieve schedule for some future week. 
The club can set limits on how far to future the schedule can be retrieved. If user exceedes the limit then `null` schedule will 
be returned.

Returned schedule starts on Monday and ends on Sunday. Days that do not contain sports matching filter are excluded 
from result by default. It is also possible to retrieve full schedule where sports that do not match the filter are included 
in the result and their attribute `matchesFilter` is set to `false`. 

+ Request (application/json)

    + Headers
    
            Authorization: Bearer r8t9y5d8-1234-3214-12ab-a1t2re325s5w
            
 
+ Response 200 (application/json)

    + Attribute
        + from (number) - Start time of the schedule defined as time in minutes from the midnight. The time is the earliest start selected from all days of the schedule. Can be used to visualise schedule as a grid.
        + to (number) -  End time of the schedule defined as time in minutes from the midnight. The time is the latest end selected from all days of the schedule. Can be used to visualise schedule as a grid.
        + step (number) - Width, in minutes, of a single cell in schedule. Can be used to visualise schedule as a grid.
        + days (array[Day]) - Collection of all days in the schedule.
        
    + Body

            {
              "message": {
                "httpStatus": 200,
                "type": "INFO",
                "code": null,
                "clientMessage": null,
                "verboseMessage": null,
                "docUri": null
              },
              "data": [
                {
                  "metaInfo": null,
                  "from": 420,
[...]
